@tailwind base;
@tailwind components;
@tailwind utilities;




/* #app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 400px;
}

.swiper-slide img {
  display: block; 
  
}

.update{
    
    background-size: cover;
    background-position: center;
    width:100%;
    height: 500px;

    
   
}


.slick-slide > div {
  margin: 0 10px;
  width: 450px;
  display: flex;
  justify-items: center;
  align-items: center;
 
}

#slider-boxes{
  display: flex !important;
  gap: 10px;
}

.slick-arrow:before{
  background-color: rgb(27, 207, 27);
 
  font-size: 30px;
  
}